# DB CONNECTION
DB_HOST=db_host
DB_PORT=db_port
DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=db_password

# S3 CONNEXION
S3_URL=http_s3_url
S3_REGION=S3_REGION
S3_ENDPOINT=s3_endpoint
SCW_ACCESS_KEY=access_key
SCW_SECRET_KEY=secret_key
S3_BUCKET_NAME=bucket_name

# DATA EXTRACTION
# Local path to the directory containing the PDF files to process.
PATH_TO_DATA=
